@import url(colors.css);
@import url(typografy.css);

/* Reset e estilos básicos */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray-200);
    
}

/* #### MAIN #### */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #### SECTIONS #### */
.sections {
    height: 100vh;
    padding: 1em;
}

/* #### LOGO #### */
#logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    max-width: 1500px;
    position: fixed;
}
.logoimg {
    align-self: flex-start;
}

/* #### HERO #### */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/hero-img-desk.jpg);
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
}

.hero-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 5rem 0;
}


/* #### SECAO 10.2.9 #### */
#secao-10-2-9 {
    display: flex;
    flex-direction: row;
    padding: 7rem 0;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.secao-10-2-9-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 5rem 0 0;
}

.secao-10-2-9-content p {
    margin: 2rem 0 2rem 0;
}

.secao-10-2-9-content h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-10-2-9-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

/* #### SECAO 10.2.9.1 #### */
#secao-10-2-9-1 {
    display: flex;
    flex-direction: row;
    padding: 7rem 0;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.secao-10-2-9-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 5rem 0 0;
}

.secao-10-2-9-1-content p {
    margin: 2rem 0 2rem 0;
}

.secao-10-2-9-1-content h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-10-2-9-1-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

/* #### SECAO NR6 EPI #### */
#secao-nr6-epi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.secao-nr6-epi-block1 {
    display: flex;
    flex-direction: row;
}

.secao-nr6-epi-block1-text {
    width: 50%;
}

.secao-nr6-epi-block1-text h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-nr6-epi-block1-text h2 {
    margin-bottom: 2rem;
}

.secao-nr6-epi-block1-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.secao-nr6-epi-block2 {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.secao-nr6-epi-block2-text {
    width: 50%;
}

.secao-nr6-epi-block2-text p {
    margin: 2rem 0 2rem 0;
}

.secao-nr6-epi-block2-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.secao-nr6-epi-block3 {
    width: 100%;
}

.secao-nr6-epi-block3 p {
    margin: 2rem 0 2rem 0;
}



/* #### SECAO NR6 COMERCIALIZACAO #### */
#secao-nr6-comercializacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
    margin-top: 8rem;
}

.secao-nr6-comercializacao-text {
    width: 50%;
}

.secao-nr6-comercializacao-text p{
    margin: 2rem 0 2rem 0;
}

.secao-nr6-comercializacao-text h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-nr6-comercializacao-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

/* #### SECAO NR6 RESPONSABILIDADES DA ORGANZACAO #### */
#secao-nr6-respo-org {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
    margin-top: 8rem;
}

.secao-nr6-respo-org-block1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secao-nr6-respo-org-block1 h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-nr6-respo-org-block1 img {
    margin-top: 3rem;
}

.secao-nr6-respo-org-block1 p {
    margin: 2rem 0 2rem 0;
}

.secao-nr6-respo-org-block2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-respo-org-block2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.secao-nr6-respo-org-block2-text p {
    margin: 1.4rem 0 1.4rem 0;
}

.secao-nr6-respo-org-block2-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.secao-nr6-respo-org-block3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-respo-org-block3-img {
    width: 50%;
}

.secao-nr6-respo-org-block3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.secao-nr6-respo-org-block3-text p {
    margin: 1.4rem 0 1.4rem 0;
}

.secao-nr6-respo-org-block4 {
    margin-top: 2rem;
    width: 100%;
}

.secao-nr6-respo-org-block4 p {
    margin: 1.4rem 0 1.4rem 0;
}

/* #### SECAO NR6 PGR #### */
#secao-nr6-pgr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.secao-nr6-pgr-block1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secao-nr6-pgr-block1 h1 {
    border-bottom: 2px solid var(--body-black-font);
}

.secao-nr6-pgr-block1-sec1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.secao-nr6-pgr-block1-sec1-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.secao-nr6-pgr-block2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-pgr-block3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-pgr-block3 img {
    margin: 4rem 0 4rem 0;
}

.secao-nr6-pgr-block3 h4 {
    margin: 2rem 0 1.2rem 0;
}

.secao-nr6-pgr-block4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-pgr-block4-img {
    width: 50%;
}

.secao-nr6-pgr-block4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.secao-nr6-pgr-block5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

.secao-nr6-pgr-block5 p {
    margin: 1.4rem 0 1.4rem 0;
}

/* #### SECAO NR6 CONSEQUANCIAS ORGANIZACAO #### */
#secao-nr6-conseq-org {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}




/* #### SECAO NR6 RESPONSABILIDADE TRABALHADOR #### */
#secao-nr6-respo-trab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}

/* #### SECAO CONSEQUANCIAS TRABALHADOR #### */
#secao-nr6-conseq-trab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}


/* #### SECAO NR6 LISTA EQUIPAMENTOS EPI #### */
#secao-nr6-lista-equip-epi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}


/* #### SECAO 10.2.9.2 #### */
#secao-10-2-9-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}


/* #### SECAO 10.2.9.3 #### */
#secao-10-2-9-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: auto;
    max-width: 1500px;
}


/* #### QUIZ NR6 #### */
#quiz-nr6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: 100vh;
    max-width: 1500px;
}

